body{
    top: 0;
    left: 0;
    padding: 20px;
    margin: 0;
}

img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}

#headline {
    background-color: cadetblue;
    color: white;
    height: 50px;
    line-height: 50px;
    font-size: 20pt;
    font-weight: bolder;
    padding-left: 15px;
}

#return {
}

.hand {
    padding: 20px;
    padding-left: 10px;
    box-shadow: 2px 2px 5px gainsboro;
    margin-top: 10px;
    margin-bottom: 0px;
}

.hand-headline {
    padding-left: 5px;
    color: cadetblue;
    font-size: 16pt;
    font-weight: bold;
}

.hand-list {
    font-size: 14pt;
}

.hand-list ol{
    padding: 0;
    padding-left: 10px;
    max-height: 130px;
    overflow: scroll;
}

.hand-list li {
    border-bottom: 1px solid rgb(157, 205, 159);
    list-style:none;
    margin: 0;
    height: 40px;
    line-height: 40px;
}

.hand-addbtn {
    background-color: #ACE1AF;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}




